# Web Framework
Flask
gunicorn
fastapi
uvicorn[standard]

# HTTP / API
requests
httpx

# Binance API
python-binance

# Asynchronous & Scheduling
aiohttp
asyncio
APScheduler

# Data Handling & Analysis
pandas
numpy

# Logging & Monitoring
loguru
sentry-sdk

# Environment & Security
python-dotenv
cryptography

# Testing
pytest
pytest-asyncio
coverage

# Utility
pytz
tenacity  # Retry mekanizmaları için
rich      # Konsol çıktıları için gelişmiş format

# Loglama için
coloredlogs